body{
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
line-height: 1.5;
/* font: 15px/1.5 Ariel, Helvetica, sans-serif; */
margin: 0px;
padding: 0px;
background-color: #f4f4f4;
}
/* global */
.container{
    width:80%;
    margin: auto;
    overflow: hidden;
}
ul{
    margin: 0;
    padding: 0;
}
.button_1{
  height: 25px;
  background: #e8491d;
  border: none;
  padding-right: 20px;
  padding-left: 20px;  
}
/* header */
header{
    background: #35424a;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}
/* header A */
header a{
    color:#ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-style: 15px;
}
header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}
header #branding{
    float: left;
}
header #branding h1{
    margin: 0;
}
header nav{
    float:right;
    margin-top: 10px;
}
header .highlight, header .current a{
    color: orangered;
    font-weight: bold;
}
header a:hover{
    color: #e8491d;
    opacity: 0.5;
}

#showcase{
    min-height: 400px;
    background: url("/IMAGE/passport.jpg") no-repeat 0;
    text-align: center;
    background-size: 100%;
    color: #ffffff;
}
#showcase h1{
margin-top: 100px;
font-size: 55px;
margin-bottom: 10px;
}
#showcase p{
    font-size: 15px;
}
/* Newsletter */
#Newsletter{
    color: #ffffff;
    font-size: 15px;
    background-color: #35424a;
}
#Newsletter h1{
  float: left;
}
#Newsletter form{
    float: right;
}
#Newsletter input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
    margin-top: 20px;
}
/* .Boxes */
#boxes{
    margin-top: 20px;
}
#boxes .box{
    float: left;
    text-align: center;
    width: 20%;
    padding: 40px;
}
#boxes .box img{
    width: 100px;
}

/* Asidebar */
aside#sidebar{
    float: right;
    width: 30%;
    margin-top: 10px;
    background-color: #35424a;
    color: white;
    padding: 10px;
}

/* main-col */
article#main-col{
    float: left;
    width: 65%;
}
/* main-paragraph-1 */
.paragraph-1{
    background-color: #35424a;
    padding: 10px;
    color: #ffffff;
}

/* Services */
ul#services{
    list-style: none;
    padding: 20px;
    border: #cccccc solid 1px;
    margin-bottom: 5px;
    background: #e6e6e6;
}
#sidebar .quote input{
    width: 90%;
    padding: 10px;
}
footer{
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #e8491d;
    text-align: center;
}
footer .medi{
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}
.media-handle{
    border-radius: 10px;
    border: none;
}
.media-handle:hover{
background-color: cornflowerblue;
opacity: 0.5;
}
.medi{
    color: black;
}













